<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214856735750-mhi9liiasngdcurcp9bq6hneknpspon8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214856735750-mhi9liiasngdcurcp9bq6hneknpspon8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7htMxdoA2liUGbpEkqNw0SmthmBG2hsw</string>
	<key>GCM_SENDER_ID</key>
	<string>214856735750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CreativeLeague.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todo-e0009</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e0009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214856735750:ios:005a8ec3f57122a0fab787</string>
	<key>DATABASE_URL</key>
	<string>https://todo-e0009.firebaseio.com</string>
</dict>
</plist>